.results {
    height: 85%;
    overflow-y: auto;
}

.controls {
    align-items: center;
    display: flex;
    height: 8%;
    justify-content: center;
}

.card {
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-bottom: 5px;
    max-height: 120px;
    width: 100%;
    border-radius: 5px;
    text-align: start;
}

.card:hover {
    background-color: rgb(255, 255, 255);
}

.left-side, .right-side {
    width: 50%;
}

.right-side {
    align-items: flex-end;
    display: flex;
}

.card p {
    margin: 0 0 0 5px;
}

.name {
    text-transform: uppercase;
}

.role, .location {
    color: rgb(41, 126, 217);
    font-size: 0.9em;
}

.location {
    line-height: 1em;
    margin-top: auto;
}

.address, .vehicle {
    display: block;
    width: 100%;
}

.photo {
    box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, .1);
    border-radius: 5px;
    height: 95%;
    margin-left: auto;
}

.icon {
    height: 40px;
    margin-left: auto;
}

/* Styles for the creation form */
.seller-creation-form {
    display: flex;
    flex-direction: column;
    width: 800px;
}


/* scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}