.seller-info {
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-between;
    width: 200px;
}

.seller-info img {
    height: 100%;
    border-radius: 5px;
}

.name {
    font-weight: bold;
    text-transform: uppercase;
}

.category {
    color: rgb(41, 98, 255)
}

mat-dialog-content {
    border-radius: 5px;
}