<div class="header">
    <div class="button-row">
        <a routerLink="/map" routerLinkActive="active" class="anchor-button" 
            [routerLinkActiveOptions]="{exact: true}">HOME</a>
        <a routerLink="/page-1" routerLinkActive="active" class="anchor-button"
            [routerLinkActiveOptions]="{exact: true}">PAGE 1</a>
        <a routerLink="/page-2" routerLinkActive="active" class="anchor-button"
            [routerLinkActiveOptions]="{exact: true}">PAGE 2</a>
        <a routerLink="/page-3" routerLinkActive="active" class="anchor-button"
            [routerLinkActiveOptions]="{exact: true}">PAGE 3</a>
    </div>
</div>