<div class="header">
    <div class="button-row">
        <a routerLink="/map" routerLinkActive="active" class="anchor-button" 
            [routerLinkActiveOptions]="{exact: true}">HOME</a>
        <a routerLink="/test" routerLinkActive="active" class="anchor-button"
            [routerLinkActiveOptions]="{exact: true}">PAGE 1</a>
    </div>
</div>

<!--
<mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="HOME" click="displayedContent('HOME')">
        <div>
            <app-contents [selectedOption="selectedOption"]></app-contents>
        </div>
    </mat-tab>
    <mat-tab label="PAGE 1">PAGE 1</mat-tab>
    <mat-tab label="PAGE 2">PAGE 2</mat-tab>
    <mat-tab label="PAGE 3">PAGE 3</mat-tab>
</mat-tab-group>

-->