<div class="header">
    <div class="button-row">
        <a routerLink="/map" routerLinkActive="active" class="anchor-button" 
            [routerLinkActiveOptions]="{exact: true}">HOME</a>
        <a routerLink="/test" routerLinkActive="active" class="anchor-button"
            [routerLinkActiveOptions]="{exact: true}">PAGE 1</a>
        <a routerLink="/map" routerLinkActive="active" class="anchor-button"
            [routerLinkActiveOptions]="{exact: true}">PAGE 2</a>
        <a routerLink="/" routerLinkActive="active" class="anchor-button"
            [routerLinkActiveOptions]="{exact: true}">PAGE 1</a>
    </div>
</div>